* {
    color: #F6F7F8;
    font-family: Arial;
}

body {
    background-color: #1B2845;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 75px;
}

h1, p {
    text-align: center;
}

.round_image {
    border-radius: 100%;
    border: 10px solid #6F73D2;
}

.winner_image {
    position: relative;
    width: 90%;
    max-width: 240px;
}

button {
    background-color: black;
}

#choices, #finalResults {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#choices > * {
    margin: 5px;
}

#scores {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 0 auto;
}

@media (max-width: 1060px) {
    #scores {
        flex-direction: column;
    }

    #scores > * {
        margin: 0 auto;
    }
}

#playerScore, #computerScore {
    border: 5px solid black;
    background-color: #056DBB;
}

#playerScore, #computerScore, #results {
    height: 40vh;
    width: 33.3333%;
    text-align: center;
}
